
@font-face{
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.eot') format('embedded-opentype'),
  		url('../fonts/CenturyGothic.woff') format('woff'),
  		url('../fonts/CenturyGothic.ttf') format('truetype'),
  		url('../fonts/CenturyGothic.svg')format('svg');
  // font-weight: normal;
  // font-style: normal;
}

font_text ='CenturyGothic'
color_primario = #26284a
body
	padding-top 50px
	font-family font_text
a
	color #26284a
	&:hover
		color #26284a

/*Header */
header
	margin-bottom 15px
	.navbar
		min-height 40px
		margin-bottom 10px
	.navbar-default
		background color_primario
		border-color color_primario
		border-radius 0

		.navbar-nav
			li
				text-transform uppercase
				a
					font-family font_text
					padding 10px 22px
					font-size 12px
					color #97d7ff
					&:hover,&:focus
						color #74CAFF

	.menu-sec
		border 1px solid #ddd
		background #F0F0F0
		min-height 40px
		text-align center
		font-family font_text
		padding-top 3px
		padding-bottom 3px
		button
			background transparent
			border-color transparent


/*Contenido*/
.post-content
	margin-bottom 15px
	width 100%
	display inline-block
	border 1px solid #ddd
	padding-top 15px
	padding-bottom 15px
	background #F0F0F0
	 
	
	
	h3
		a
			color #333
			text-decoration none
			font-family font_text
			font-weight bold
			font-size 20px
	p
		font-family font_text
		font-weight 500
		font-size 14px
.img-anside
	border 1px solid #ddd
	background #F0F0F0
	padding-top 15px
	padding-bottom 15px
	margin-bottom 15px
	width 100%
	display inline-block

.detalle-noticia
	margin-bottom 15px
	border 1px solid #ddd
	padding-top 15px
	padding-bottom 15px
	background #F0F0F0
	h1
		font-family font_text
		font-weight bold
		color #333
		margin-bottom 20px
	.date-public
		font-size 14px
		margin-bottom 30px
	img
		margin-bottom 35px
/*Paginacion*/
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
	background #26284a
	border-color #26284a
.pagination>li>a, .pagination>li>span
	color #26284a
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
	color #26284a
.separa
	margin 30px 0
	
/*registra-noticia*/
.registra-noticia
	legend
		font-family font_text
		font-weight bold
		color #333
	label
		font-family font_text
		font-weight bold
		color #333
		font-size 14px
	.btn
		font-family font_text
		font-weight bold
	.btn-primary
		background #26284a
		border-color #26284a	

table
	i
		font-size 16px
	.fa-trash
		color #99192B

/*Ultimas Noticias*/
.ult-notice
	margin-top 15px
	h4
		font-weight bold
		color #333
		margin-bottom 25px
	.noti-01
		margin-bottom 15px
		max-height 350px
		img
			margin-bottom 10px
			display inline-block
		h5
			a
				color #333
				font-size 16px
				font-weight bold
	.noti-02
		margin-bottom 15px
		max-height 350px
		img
			margin-bottom 10px
			display inline-block
		h5
			a
				color #333
				font-size 16px
				font-weight bold
	.noti-03
		margin-bottom 15px
		max-height 350px
		img
			margin-bottom 10px
			display inline-block
		h5
			a
				color #333
				font-size 16px
				font-weight bold
	.noti-04
		margin-bottom 15px
		max-height 350px
		img
			margin-bottom 10px
			display inline-block
		h5
			a
				color #333
				font-size 16px
				font-weight bold
/*FOOTER*/
footer
	margin-top 50px
	.siguen-foo
		min-height 80px
		strong
			position absolute
			right 7%
			bottom 0
			font-size 25px
			color #333
	.back-footer
		margin-top 10px
		background color_primario
		padding-top 15px
		padding-bottom 15px
	.copyright
		address
			span
				color #Fff
				font-size 12px
			strong
				font-weight normal
				color #74CAFF
				border-bottom 1px solid  #fff
				display inline-block
				width 100%
	.mapa-web
		ul
			display inline-block
			list-style none
			margin 0
			padding 0
			width 100%
			li
				display inline-block
				text-transform uppercase
				font-size 13px
				a
					color #fff
	.social_link
		span
			color #fff
			font-size 27px
			.fa-inverse
				color #444